
.body{
    color:#777;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;

}
.header_margin{
    margin:0 50px;
}

.navbar-brand{
    font-size: 35px;
    font-weight: 700;
    color: #000;
} 

nav .nav-link{
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
    color: #000;
}




nav .btn{
    padding :10px 25px;
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

nav .btn-blue {
    padding: 15px 30px;
    color: #00D9B7;
    background: #0E1F4D;
    border-radius: 30px;
    transition: .2s;
    font-weight: 700;
}